<footer class="container">
    <p>&copy Tekens Technology 2021 production, all rights preserved</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
   flatpickr("input[type=datetime-local]", {
    enableTime: false,
    // altInput: true,
    altFormat: "F j, Y",
    dateFormat: "Y-m-d",
   }); 

 </script>
</body>
</html>