<%- include ("partials/header") -%>
<%- include ("partials/report-nav") -%>


<div class="popup">
    <img src="/img/404-tick.png"/>
    <h2> Thank You!</h2>
    <p>Your report has been uploaded successfully</p>
    <a href="/"> <input type="submit" value="OK" class="btn bg-gradient-dark w-100 my-4 mb-2" >
    </a> 
</div>
<%- include ("partials/footer") -%>